@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&family=Ubuntu&display=swap");

* {
  transition: transform 0.3s ease-in-out;
}
/* Container Styles */
.container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding-bottom: 0;
}

/* Navbar Start */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  align-items: center;
  padding: 5px;
  z-index: 1000;
}

.navbar-brand {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.navbar-brand:hover {
  color: rgb(129, 10, 241);
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav-item {
  margin-left: 10px;
  margin-right: 25px;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.nav-link:hover {
  color: rgb(129, 10, 241);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

/* NavEnd */

.heading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* Main Content Styles */

.bgImage {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.text-container {
  height: 80vh;
  border-color: white;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 90vw;
  height: 350px;
  padding: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.container2 {
  height: 100vh;
  border: 2px solid white;
  border-color: white;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 90vw;
  padding: 20px;
}

.dummy-text {
  color: white;
  flex: 1;
  padding: 0 20px;
}

.img {
  border: 1px solid white;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-family: "Roboto", sans-serif;
}

.heading {
  margin: 0px;
  color: white;
  font-size: 40px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.Container {
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-top: 2bem;
  margin-left: 38.5%;
}

@keyframes cursor {
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

span {
  color: #04fae6;
  text-transform: uppercase;
}

.container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  height: 330px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #171317;
  border: double 4px transparent;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(#242229, #9e13d5),
    radial-gradient(circle at top left, #ffffff, #fffbfb);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.card .bg-image img {
  width: 80%;
  height: 100px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}

.card .pic img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #353232;
  margin-top: -110px;
  position: relative;
}

.card .info h3 {
  font-family: sans-serif;
  color: #040404;
  font-size: 20px;
  font-weight: bolder;
  padding: 0;
}

.card .info span {
  font-size: 15px;
  font-weight: 800;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.card .info p {
  font-size: 13px;
  padding: 10px 20px;
  color: #999;
  font-family: "Roboto", sans-serif;
}

.card .info .icons a,
.card .info .icons i {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  padding: 0 5px;
}

.card .info .icons a:hover,
.card .info .icons i:hover {
  color: #01ffd5;
}

.container4 {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding-bottom: 0;
}

.svg {
  height: 30px;
  width: 30px;
}
