.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  font-family: "Ubuntu", sans-serif;
  max-width: 90vw;
  margin: 50px auto;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-item {
  height: 330px;
  width: 400px;
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  background-color: #5a0d0d;
  border: double 4px transparent;
  border-radius: 10px;
  background-image: linear-gradient(#0f0912, rgb(138, 43, 226)),
    radial-gradient(circle at top left, #f0f0f0, #16b21b);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.card .pic img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px solid #222;
  margin-top: -110px;
  position: relative;
}

.card-item:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.lines {
  padding: 0 20px 20px 20px;
}

.card h2 {
  font-family: "Ubuntu", sans-serif;
}

.card-container {
  display: flex;
}

.my-1 {
  margin: 10px 10px 10px 10px;
  padding: 0 10px 0 10px;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.my-2 {
  padding: 0 10px 0 10px;
  margin: 23px 0;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.my-3 {
  padding: 7px 12px 7px 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  color: black;
  text-align: center;
  justify-content: center;
  border-radius: 11px;
}

.text-center {
  text-align: center;
  justify-content: center;
}
