@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&family=Ubuntu&display=swap");

* {
  font-family: "Roboto", sans-serif;
  transition: transform 0.3s ease-in-out;
}
/* Container Styles */
.container {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding-bottom: 0;
}

/* Navbar Start */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.navbar-brand {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.navbar-brand:hover {
  color: rgb(129, 10, 241);
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 10px;
  margin-right: 25px;
  font-family: "Roboto";
}

.nav-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(129, 10, 241);
  font-weight: bolder;
}

.bgImage {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* NavEnd */

.heading {
  color: white;
  font-family: "Roboto";
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px 0 30px 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 10px 0 20px 0;
}

/* Main Content Styles */

.text-container {
  height: 1000px;
  /* border: 2px solid white; */
  border-color: white;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -275px;
  max-width: 90vw;
  height: 500px;
  padding: 80px;
}

.container2 {
  height: 1000px;
  border-color: white;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 90vw;
  padding: 20px;
}

.bigtext {
  color: white;
  text-align: center;
  font-size: 30px;
}

.dummy-text {
  color: white;
  flex: 1;
  padding: 0 20px;
  height: 100px;
}

.img {
  border: 1px solid white;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
